@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Index";

}
@model IEnumerable<UniverSity.Models.Post>

<div class="row px-5">

    <div class="col-4">
        <a asp-area="Admin" asp-controller="Post" asp-action="Create" class="btn btn-info m-3">مدونة</a>


    </div>
    <div class="col-md-4 col-sm-6">
        <h3 class="text-info m-3">قائمة المدونات</h3>

    </div>


</div>

<div class="px-5">

    <table class="table table-striped border table flex-row-reverse px-5">
        <tr class="table-secondary">


            <th></th>
            <th></th>
            <th></th>
            <th>

                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
               
                @Html.DisplayNameFor(model => model.Id)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>




                <td>
                    <a asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger text-white">حذف</a>
                    <a asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-primary text-white">تعديل</a>
                </td>
                <td></td>
                <td></td>
                <td>

                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                   
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
            </tr>
        }
        <tr>
        </tr>
    </table>



</div>
